/* small screen - mobile */
@media screen and (min-width: 360px) and (max-width: 820px){

    .body{
        height:300px;
    }
    .body .body-image img{
        margin-top: 50px;
        height: 360px;
        margin-left: 5px;
    }
    .body .body-text{
        width: 100%;
        height: 100px;
       }
       .body .body-text h2{
           margin-top: 25px;
           font-size: 2.0rem;
       }
       .body .body-text p{
           font-size: 1.1rem;
       }
       .about-us{
        margin-top: 530px;
       }
       .about-us-hero h1{
        font-size: 2rem;
        margin-left: 2px;
       }
        .about-us-text{
        margin-left: 0px;
        font-size: 1.1rem;
       }
       .menu .menu-text{
        margin-left: 0px;
       }
       .menu .menu-text h1{
        font-size: 2rem;
       }
       .starter img{
        padding-bottom: 17px;
       }
       .main-course img{
        padding-bottom: 17px;
       }
       .dessert img{
        padding-bottom: 17px;
       }
       #book-table h1
       p{
        margin-left: 0px;
       }
       .book-table{
        margin-top: 245% !important;
        height:250%;
        width:100%;
        background-color: rgba(55, 55, 63, 0.04);
      }
       .table-head h2{
        font-size: 2rem;
       }
       .table-head h4{
        font-size: 17px;
       }
       .table-body img{
        display: block;
        margin-left: auto;
        margin-right: auto;
       margin-top: 10px;
       height:90%;
       width:75%;
       }
       #contact-us h3{
        font-size: 2rem;
       }
       #contact-us p{
        font-size: 17px;
       }
       .contact-us{
            /* margin-top: 95% !important; */
       }
       .contact-us-cover img{
        display: block;
        margin-left: auto;
        margin-right: auto;
       margin-top: 20px;
       height:96%;
       width:80%;
       }
       #contact-us .btn{
        padding: 8px !important;
       }
       
    }

